# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# editor files
.vscode/
.idea/
*.swp
*.swo
*~
